template(name='nav')
    .ui.attached.borderless.big.menu.topnav
        //- a.toggle_sidebar.icon.item.sidebar_on
        //-     i.large.sidebar.icon
        if is_loading
            .icon.item
                i.big.loading.grey.yin.yang.icon
        else
            a.item(href='/home' class="{{isActivePath '/home'}}")
                img.ui.small.image(src="https://chirayadharma.com/wp-content/uploads/elementor/thumbs/Chireya_Dharma_PINK-2019-LOGO-BODONIpng-o5d1xlsn4e7gn27vsqgqyrd0q2bv7smp1szkhrv5mu.png")
            each nav_models
                a.item.set_nav_model(href="/m/#{slug}" class="{{isActivePath '/m/#{slug}'}}")
                    +i name=icon
                    .mobile.hidden &nbsp; #{title}
            a.item(href='/users' class="{{isActivePath '/users'}}")
                +i name='groups'
                .mobile.hidden &nbsp; people
            a.item(href='/contact' class="{{isActivePath '/contact'}}")
                +i name='contact'
                .mobile.hidden &nbsp; contact
            a.icon.item(href='/chat' class="{{isActivePath '/chat'}}")
                +i name='chat'
        .right.menu
            if currentUser
                unless logging_out
                    if is_dev
                        a.item.set_model(href='/m/model' class="{{isActivePath '/m/model'}}")
                            i.sitemap.large.icon
                    a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='user_chat'}}")
                        if currentUser.image_id
                            img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        else
                            +i name='user'
                        //- | #{currentUser.username}
                if logging_out
                    .item
                        i.large.loading.circle.notch.icon
                //- else
                //-     a#logout.ui.mobile.hidden.icon.item(href='#' title='Log Out')
                //-         i.sign.out.large.icon
            else
                a.item(href='/login' title='login') 
                    i.sign.in.large.icon
                    |login



template(name='footer')
    .ui.fluid.basic.attached.segment.footer
        .ui.container.stackable.grid
            .eight.wide.column
                a(href="https://twitter.com/chirayadharma" target="_window")
                    +i name='twitter'
                //- +i name=''
                if is_dev    
                    with current_user
                        +role_switcher
            .eight.wide.column
                //- unless currentUser
                //-     a.ui.big.basic.button(href='/login')
                //-         i.sign.in.icon
                //-         |login
                if is_eric
                    with currentUser
                        +role_switcher
                else if is_dev
                    with currentUser
                        +role_switcher
        //- if is_user
        //-     .row
        //-         .ui.center.aligned.inverted.header
        //-             i.copyright.outline.icon
        //-             |


template(name='role_switcher')
    .ui.segment
        .ui.grey.inline.center.aligned.small.header 
            //- +i name='anonymous-mask'
            i.shield.icon(title='role switcher')
            |#{username} role switcher
        //- if is_eric
        //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
        //- if current_user
        //-     with current_user
        //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        //- else if currentUser
        //-     with currentUser
        +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        //- +user_array_element_toggle key='roles' value='admin' user=currentUser
        //- +user_array_element_toggle key='roles' value='user' user=currentUser
        //- +user_array_element_toggle key='roles' value='staff' user=currentUser
        //- +user_array_element_toggle key='roles' value='resident' user=currentUser
        //- +user_array_element_toggle key='roles' value='owner' user=currentUser
