template(name='user_layout')
    +nav
    with user_from_username_param
        .ui.padded.stackable.grid
            .row
                .four.wide.column
                    img.ui.centered.circular.shadowed.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                    //- a.item(href="/user/#{user_from_username_param.username}/")
                    .ui.center.aligned.basic.segment
                        a(href="/user/#{user.username}")
                            h1.ui.large.center.aligned.header
                                | #{user.first_name}
                                | #{user.last_name}
                    .ui.center.aligned.small.grey.header
                        | @#{user.username}        
                    a.ui.fluid.basic.button.item(href="/user/#{user_from_username_param.username}/edit")
                        i.pencil.large.blue.icon
                        | edit
            
                    .ui.button.direct_message
                        i.sent.icon
                        |direct message
                    .ui.vertical.fluid.menu
                        a.item(href="/user/#{username}" class="{{isActiveRoute 'user_about'}}")
                            i.info.icon
                            |about
                    if is_current_user
                        a.ui.fluid.button.logout(href="#")
                            i.sign.out.icon
                            |log out
                        a.ui.fluid.button.logout_other_clients(href="#")
                            |logout other clients
                    if is_admin
                        .ui.segment
                            .ui.grey.header 
                                //- +i name='user shield'
                                i.shield.icon
                                |roles
                            each roles
                                .ui.basic.label #{this}
                .twelve.wide.column.shadowed-box
                    +yield
    +footer 


template(name='user_about')
    .ui.stackable.grid
        .row
            +textarea_view key='bio' direct=true
template(name='user_log')
    //- .ui.fluid.styled.accordion
    .ui.segment
        .ui.grey.inline.center.aligned.small.header 
            //- +i name='overview-pages-4'
            i.list.icon
            |Log
        .smallscroll
            .ui.list
                each user_log_events
                    .item
                        .content
                            .header #{body}
                            .description #{when}



template(name='user_people')
    +user_following
    +follow_user

                
                
template(name='user_array_list')
    .ui.list
        each users
            .item
                +user_info
            
            
            

            
template(name='user_array_element_toggle')
    .ui.circular.button.toggle_element(class=user_array_element_toggle_class)
        |#{value}

template(name='user_string_toggle')
    .ui.circular.button.toggle_element(class=user_string_element_toggle_class)
        |#{value}
